In [2]:
%load_ext sql
import csv, sqlite3

con = sqlite3.connect("Car_price.db")
cur = con.cursor()
%sql sqlite:///Car_price.db
import pandas as pd
df = pd.read_csv('car data.csv')

In [9]:
df.to_sql("CARZ", con, if_exists='replace', index=False)#,method="multi")

100000

In [10]:
%sql select *from CARZ limit 5

 * sqlite:///Car_price.db
Done.

[('Hero Passion X pro', 2016, 12417.55, 33217, 'Petrol', 'Individual', 'Manual', 0, 11717.5),
 ('xcent', 2017, 10633.13, 12905, 'Petrol', 'Dealer', 'Manual', 0, 9931.75),
 ('verna', 2015, 10881.4, 62053, 'Diesel', 'Dealer', 'Manual', 0, 10180.25),
 ('ertiga', 2016, 11107.79, 43897, 'Diesel', 'Dealer', 'Manual', 0, 10404.75),
 ('jazz', 2016, 10316.4, 4108, 'Petrol', 'Dealer', 'Manual', 0, 9614.0)]

In [3]:
cur = con.close()

In [1]:
# Import required libraries
import pandas as pd
import dash
from dash import html
from dash import dcc
from dash.dependencies import Input, Output
import plotly.express as px

In [2]:
#Read data into datafame
spacex_df = pd.read_csv("spacex_launch_dash.csv")
spacex_df['Launch Site'].value_counts()

Launch Site
CCAFS LC-40     26
KSC LC-39A      13
VAFB SLC-4E     10
CCAFS SLC-40     7
Name: count, dtype: int64

In the above result, the data column launch site has a deprecated name input 'CCAFS  LC-40'. It was changed by Falcon9 with 'CCAFS SLC-40'.This means the two represents same launch site,so we merge them.
Source :"https://en.wikipedia.org/wiki/Cape_Canaveral_Space_Launch_Complex_40"

In [5]:
# Lets rename the two variables
spacex_df['Launch Site'].replace('CCAFS LC-40', 'CCAFS SLC-40',inplace = True)

# Save dataframe spacex into a csv file
#spacex.to_csv("spacex_launch_dash1.csv", index = False)

In [4]:

#new_df = df.groupby('Recession')['Automobile_Sales'].mean().reset_index()

# Create the bar chart using seaborn
import seaborn as sns
values=spacex_df.groupby('Launch Site',as_index=False)['class'].value_counts()
values

    Launch Site  class  count
0  CCAFS SLC-40      0     23
1  CCAFS SLC-40      1     10
2    KSC LC-39A      1     10
3    KSC LC-39A      0      3
4   VAFB SLC-4E      0      6
5   VAFB SLC-4E      1      4

In [6]:
# Now let' s sns. Notice the two has being marged,

spacex_df['Launch Site'].value_counts()

Launch Site
CCAFS SLC-40    33
KSC LC-39A      13
VAFB SLC-4E     10
Name: count, dtype: int64

In [7]:
# Import required libraries
import pandas as pd
import dash
from dash import html
from dash import dcc
from dash.dependencies import Input, Output
import plotly.express as px

# Read the airline data into pandas dataframe
#spacex_df = pd.read_csv("spacex_launch_dash.csv")
max_payload = spacex_df['Payload Mass (kg)'].max()
min_payload = spacex_df['Payload Mass (kg)'].min()

# Create a dash application
app = dash.Dash(__name__)

# Create an app layout
app.layout = html.Div(children=[html.H1('SpaceX Launch Records Dashboard',
                                        style={'textAlign': 'center', 'color': '#503D36',
                                               'font-size': 40}),
                                # TASK 1: Add a dropdown list to enable Launch Site selection
                                # The default select value is for ALL sites
                                dcc.Dropdown(id='site-dropdown',
                                options=[
                                    {'label': 'All Sites', 'value': 'All Sites'},
                                    {'label': 'VAFB SLC-4E', 'value': 'VAFB SLC-4E'},
                                    {'label': 'KSC LC-39A', 'value': 'KSC LC-39A'},
                                    {'label': 'CCAFS SLC-40', 'value': 'CCAFS SLC-40'}
                                ],
                                placeholder='Select a Launch Site Here',
                                value='All Sites',
                                searchable=True
                                ),
                                html.Br(),

                                # TASK 2: Add a pie chart to show the total successful launches count for all sites
                                # If a specific launch site was selected, show the Success vs. Failed counts for the site
                                html.Div(dcc.Graph(id='success-pie-chart')),
                                html.Br(),

                                html.P("Payload range (Kg):"),
                                # TASK 3: Add a slider to select payload range
                                dcc.RangeSlider(id='payload-slider',
                                min=0,
                                max=10000,
                                step=1000,
                                marks={i: '{}'.format(i) for i in range(0, 10001, 1000)},
                                value=[min_payload, max_payload]),

                                # TASK 4: Add a scatter chart to show the correlation between payload and launch success
                                html.Div(dcc.Graph(id='success-payload-scatter-chart')),
                                ])

# TASK 2:
# Add a callback function for `site-dropdown` as input, `success-pie-chart` as output
@app.callback( Output(component_id='success-pie-chart', component_property='figure'),
               Input(component_id='site-dropdown', component_property='value'))
def get_pie_chart(launch_site):
    if launch_site == 'All Sites':
        fig = px.pie(values=spacex_df.groupby('Launch Site')['class'].mean(), 
                     names=spacex_df.groupby('Launch Site')['Launch Site'].first(),
                     title='Total Success Launches by Site')
    else:
        fig = px.pie(values=spacex_df[spacex_df['Launch Site']==str(launch_site)]['class'].value_counts(normalize=True), 
                     names=spacex_df['class'].unique(), 
                     title='Total Success Launches for Site {}'.format(launch_site))
    return(fig)

# TASK 4:
# Add a callback function for `site-dropdown` and `payload-slider` as inputs, `success-payload-scatter-chart` as output
@app.callback( Output(component_id='success-payload-scatter-chart', component_property='figure'),
              [Input(component_id='site-dropdown', component_property='value'),
               Input(component_id='payload-slider',component_property='value')])
def get_payload_chart(launch_site, payload_mass):
    if launch_site == 'All Sites':
        fig = px.scatter(spacex_df[spacex_df['Payload Mass (kg)'].between(payload_mass[0], payload_mass[1])], 
                x="Payload Mass (kg)",
                y="class",
                color="Booster Version Category",
                hover_data=['Launch Site'],
                title='Correlation Between Payload and Success for All Sites')
    else:
        df = spacex_df[spacex_df['Launch Site']==str(launch_site)]
        fig = px.scatter(df[df['Payload Mass (kg)'].between(payload_mass[0], payload_mass[1])], 
                x="Payload Mass (kg)",
                y="class",
                color="Booster Version Category",
                hover_data=['Launch Site'],
                title='Correlation Between Payload and Success for Site {}'.format(launch_site))
    return(fig)


# Run the app
if __name__ == '__main__':
    app.run_server()